body {
  background-color: rgb(255, 51, 51);
}
header {
  background-color: white;
  font-style: 20px;
}
#titulo {
  margin-left: 750px;
}

.pizzasdoces {
  width: 240px;
  height: 200px;
}

#combos{ 
  border: 1px solid;

}

table, th, td{
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
}