body{ background-color: rgb(255, 51, 51);

}
header{ background-color: white;
font-style: fantasy;}
#titulo{ margin-left: 750px; }
<<<<<<< HEAD
       
=======

/*no próximo treino vamos aprender a estilizar fontes*/ 
>>>>>>> pizza
